//-------------------------------------
//  Base
//-------------------------------------

html
  background: $l-background
  color: $c-color
  font-family: $c-fontFamily
  font-size: $c-fontSize
  line-height: $c-lineHeight

// ----- Block Content ----- //

p
  font-size: em($c-fontSize)

// ----- Inline Content ----- //

a
  color: $c--highlight-color
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: underline
