//-------------------------------------
//  Base
//-------------------------------------

html
  background: $base-background
  color: $base-color
  font-family: $base-fontFamily
  font-size: $base-fontSize
  line-height: $base-lineHeight

// ----- Block Content ----- //

p
  font-size: em($base-fontSize)

// ----- Inline Content ----- //

a
  color: $base-link-color
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: underline
