//-------------------------------------
//  Settings
//-------------------------------------

// ----- @font-face ----- //

// ...

// ----- Variables ----- //

// $module-property--modifier
// $moduleName-property--modifier
// $moduleName-propertyName--modifier
// $moduleName-propertyName--modifierName

// Content

$content-color: #222
$content-color--highlight: #0053C9
$content-fontFamily: sans-serif
$content-fontFamily--header: sans-serif
$content-fontSize: 16px
$content-lineHeight: 1.5
