// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ...

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

$base-background: #fff
$base-color: #222
$base-link-color: #0053c9

// ----- Base Borders & Box Shadows ----- //

$base-border: 1px solid $base-color
$base-borderRadius: 3px
$base-boxShadow: 0 1px 2px rgba($base-color, 0.25)

// ----- Base Content ----- //

$base-fontFamily: sans-serif
$base-fontSize: 16px
$base-lineHeight: 1.5

// ----- Base Layout ----- //

$base-whitespace: 20px

// ----- Content ----- //

$c-header-fontFamily: sans-serif

// ----- Layout ----- //

$l-maxWidth: 980px
