//-------------------------------------
//  Settings
//-------------------------------------

// ----- @font-face ----- //

// ...

// ----- Variables ----- //

// Colors

$color-base: #222
$color-highlight: #0053C9

// Fonts

$font-base: sans-serif
$font-header: sans-serif

// Typography

$base-font-size: 16px
$base-line-height: 1.5
