// *************************************
//
//  Bucket
//   -> Media-supported content
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .mv-bucket[flag]
//
//   .mv-bucket-media
//     / ...
//
//   .mv-bucket-content
//     / ...
//
// *************************************

.mv-bucket
  display: flex

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Flag ----- //

.mv-bucket--flag
  align-items: center

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Content ----- //

.mv-bucket-content
  flex-grow: 1

// ----- Media ----- //

.mv-bucket-media
  flex-shrink: 0
  margin-right: $b-space

  > img
    display: block
