// *************************************
//
//   Config
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ...

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Palette ----- //

$plum: #4e4e5b;

// ----- Base ----- //

$c-background-invert: #fff;
$c-background: #ecf0f1;
$c-border: lighten($plum, 30%);
$c-highlight: $plum;
$c-subdue: lighten($plum, 40%);
$c-text-invert: #fff;
$c-text: #444;

// ----- Components ----- //

// ...

// ----- Structures ----- //

// ...

// -------------------------------------
//   Base
// -------------------------------------

// ----- Borders & Box Shadow ----- //

$b-borderRadius: 3px;
$b-borderStyle: solid;
$b-borderWidth: 2px;
$b-border: $b-borderWidth $b-borderStyle $c-border;
$b-boxShadow: 0 2px 0 rgba($c-text, 0.25);

// ----- Typography ----- //

$b-fontFamily-heading: sans-serif;
$b-fontFamily: sans-serif;
$b-fontSize: 16px;
$b-fontSize-xs: 12px;
$b-fontSize-s: 14px;
$b-fontSize-l: 18px;
$b-fontSize-xl: 24px;
$b-fontSize-h1: 32px;
$b-fontSize-h2: 24px;
$b-fontSize-h3: 20px;
$b-fontSize-h4: 18px;
$b-lineHeight: 1.5;

// ----- Sizing ----- //

$b-maxWidth: 1024px;
$b-space: 20px;
$b-space-025: $b-space * 0.25;
$b-space-05: $b-space * 0.5;
$b-space-2: $b-space * 2;
$b-space-4: $b-space * 4;

// -------------------------------------
//   Components
// -------------------------------------

// ----- Grid ----- //

// Breakpoints

$g-s: 480px;
$g-m: 800px;
$g-l: 1024px;

// Settings

$g-columns: 12;
$g-defaults: 's' $g-s, 'm' $g-m, 'l' $g-l;
$g-gutter: $b-space;
$g-silent: false;

// Selector

$g-selector: if($g-silent, unquote("%"), unquote("."));

// -------------------------------------
//   Structures
// -------------------------------------

// ...
