// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

html
  background-color: $c-background
  color: $c-text
  font-family: $b-fontFamily
  font-size: $b-fontSize
  line-height: $b-lineHeight

body
  font-size: 100%

// -------------------------------------
//   Block Content
// -------------------------------------

ul, p
  margin-bottom: $b-space
  margin-top: 0

li
  margin-bottom: $b-space-s
  margin-top: 0

// ----- Headings ----- //

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
  font-family: $b-fontFamily-heading
  font-weight: bold
  line-height: 1.2
  margin-bottom: $b-space-xs
  margin-top: 0

h1, .h1
  font-size: $b-fontSize-h1

h2, .h2
  font-size: $b-fontSize-h2

h3, .h3
  font-size: $b-fontSize-h3

h4, .h4
  font-size: $b-fontSize-h4

// -------------------------------------
//   Inline Content
// -------------------------------------

// ----- Links ----- //

a
  border-bottom: $b-border
  color: $c-highlight
  text-decoration: none

  &:hover,
  &:focus
    border-bottom-color: $c-highlight
    color: $c-subdue

// ----- Images ----- //

img
  height: auto
  max-width: 100%
